/* CategoryForm.module.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .categoryForm {
    background: #583BE1;
    padding: 20px;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    width: 300px; /* Dostosuj szerokość formularza według potrzeb */
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
  }
  
  .addButton {
    width: 100%;
    padding: 10px;
    background-color: #472dc9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .closeButton {
    width: 100%;
    padding: 10px;
    background-color: #472dc9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  