.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.taskForm {
  background: #4527a0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 300px;
  text-align: center;
  z-index: 1001;
  position: relative;
}

.taskForm h3 {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.inputField {
  border: 1px solid #ddd;
  padding: 8px;
  margin: 5px;
  border-radius: 3px;
}

.error {
  color: red;
  margin-top: 10px;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.saveButton {
  background-color: #3f51b5;
  color: #fff;
}

.deleteButton {
  background-color: #f44336;
  color: white;
  margin-right: 10px;
}

.closeButton {
  background-color: #3f51b5;
  color: #fff;
}

