.gradient-custom {
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8978D9, #573CFA);
    background: linear-gradient(to right, #8978D9, #573CFA);
    height: 100vh; 
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-white {
    color: #ffffff;
    opacity: 0.9;
}
