  .side-panel {
    width: 200px;
    margin-right: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
  }
  
  .calendar-container {
    flex: 1;
    height: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .full-page-calendar {
    flex: 1;
    height: 100vh;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .calendar-disabled {
    pointer-events: none;
  }

.planner-container {
  display: flex;
  min-height: 100vh;
}


.side-panel {
  width: 15%;
  height: 100vh;
  padding: 20px;
  background-color: #583BE1;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.action-buttons-container {
  display: flex;
  flex-direction: column;
}

.action-button {
  width: 100%;
  padding: 10px;
  background-color: #472dc9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.logout-button {
  width: 100%;
  padding: 10px;
  background-color: #472dc9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


  